{% extends "layout.html" %}
{% block body %}

{% if device %}
<h2 class="display-4">{{ device.name }}</h2>
{% else %}
<h2 class="display-4">New Device</h2>
{% endif %}

<form method="POST" action="">
  {{ form.csrf_token }}
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.hwid.label }}
      {{ form.hwid(size="10", class="form-control") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.name.label }}
      {{ form.name(class="form-control") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.description.label }}
      {{ form.description(class="form-control") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.device_type.label }}
      {{ form.device_type(class="form-control") }}
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      {{ form.active(class="form-check-input") }}
      {{ form.active.label(class="form-check-label") }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}
