{% extends "layout.html" %}
{% block body %}

<h3>Device Management</h3>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Create Device</h5>

    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.hwid.label }}
          {{ form.hwid(size="10", class="form-control") }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.name.label }}
          {{ form.name(class="form-control") }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.description.label }}
          {{ form.description(class="form-control") }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.device_type.label }}
          {{ form.device_type(class="form-control") }}
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          {{ form.active(class="form-check-input") }}
          {{ form.active.label(class="form-check-label") }}
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
